<form>
  <div class="form-group offset-4 col-4 mt-5 mb-5">
    <input class="form-control"
           type="text"
           [(ngModel)]="searchword" (input)="searchThis()"
           placeholder="Recherchez un jeu ou une catégorie">
  </div>
</form>
