<h2 class="text-center mt-5 mb-3">Stream en cours de {{userName}}</h2>

<h3 class="text-center mb-5">{{gameTitle}} <img src="{{gameImg | replaceUrl : '60' : '80'}} " alt="mini Img"></h3>

<div class="row">
  <div class="col-8 padding-left">
    <twi-video-player [userName]="userName"></twi-video-player>
  </div>

  <div class="col-4 padding-right">
    <twi-tchat [userName]="userName"></twi-tchat>
  </div>
</div>

<div class="card mt-4 mx-auto" style="width: 18rem;">
  <img src="{{profileImgUser}}" class="card-img-top" alt="stream-img"/>
  <div class="card-title">
    <h2 class="text-center">{{userName}}</h2>
  </div>
  <div class="card-body">
    <span class="fw-bolder">Description:</span> <br>
    {{descrUser}}
  </div>
  <div class="card-footer">
    <p class="card-text">Nombre total de vues: <span
      class="fw-bolder">{{userViewCount | number : undefined : 'fr-FR'}}</span></p>
  </div>
</div>


<div class="text-center mt-5 mb-5">
  <a routerLink="/games/{{gameId}}/streams">
    <button class="col-2 btn btn-info p-2 m-2">Retour aux streams de {{gameTitle}}</button>
  </a>
</div>
