<div *ngIf="game$ | withLoading | async as obs">

  <ng-template [ngIf]="obs.value">
    <h2 class="text-center mt-4 mb-4">Liste des principaux streams en cours de "{{gameTitle}}"</h2>
  </ng-template>

  <ng-template [ngIf]="obs.loading">
    <twi-loading-icon></twi-loading-icon>
  </ng-template>
</div>

<div *ngIf="game$ | withLoading | async as obs">

  <ng-template [ngIf]="obs.value">
    <img src="{{gameImg | replaceUrl: '400':'550'}}"
         alt="Image du jeu"
         class="img-thumbnail offset-5 col-2">
  </ng-template>

  <ng-template [ngIf]="obs.loading">
    <twi-loading-icon></twi-loading-icon>
  </ng-template>
</div>

<div class="text-center mt-3">
  <a routerLink="/games/top">
    <button class="col-2 btn btn-info p-2 m-2">Retour au top jeux</button>
  </a>
</div>


<div *ngIf="streamsForGame$ | withLoading | async as obs">

  <ng-template [ngIf]="obs.value">
    <div class="container d-flex flex-wrap justify-content-around mb-4">
      <twi-streams-details *ngFor="let stream of streamsForGame$ | async" [stream]="stream"></twi-streams-details>
    </div>
  </ng-template>

  <ng-template [ngIf]="obs.loading">
    <twi-loading-icon></twi-loading-icon>
  </ng-template>

  <ng-template [ngIf]="obs.value.length == 0 && !obs.loading">
    <h3 class="text-center">Il n'y a pas de stream en cours pour {{gameTitle}}</h3>
  </ng-template>
</div>

<div class="text-center mt-5 mb-5">
  <a routerLink="/games/top">
    <button class="col-2 btn btn-info p-2 m-2">Retour au top jeux</button>
  </a>
</div>
