#loading-icon
{
  width: 30px;
  height: 30px;
  border: 8px solid whitesmoke;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px lightcoral;
  animation: rotate 1s linear infinite;
  margin-right: auto;
  margin-left: auto;
  vertical-align: 50%;
}


@keyframes rotate
{
  from { transform: rotate(0deg);   opacity: 0.2; }
  50%  { transform: rotate(180deg); opacity: 1.0; }
  to   { transform: rotate(360deg); opacity: 0.2; }
}
