<h2 class="text-center mt-4 mb-4">Recherchez un jeu ou une catégorie</h2>

<twi-search-bar (searchcriteria)="searchThis($event)"></twi-search-bar>

<div *ngIf="firstArrival; else elseBlock">
  <h3 class="text-center">Commencez une recherche pour trouver des jeux.</h3>
</div>
<ng-template #elseBlock>
  <div *ngIf="games$ | withLoading | async as obs">
    <ng-template [ngIf]="obs.value">
      <div class="container d-flex flex-wrap justify-content-around">
        <twi-game *ngFor="let game of games$ | async" [game]="game"></twi-game>
      </div>
    </ng-template>

    <ng-template [ngIf]="obs.loading">
      <twi-loading-icon class="mt-5"></twi-loading-icon>
    </ng-template>

    <ng-template [ngIf]="!obs.value && !obs.loading">
      <h3 class="text-center">Il n'y a pas de jeu correspondant à cette recherche</h3>
    </ng-template>

  </div>
</ng-template>
