<div class="card mt-4" style="width: 18rem;" [routerLink]="['user-stream', stream.user_name, 'stream']" xmlns="">
  <img src="{{stream.thumbnail_url | replaceUrl: '500':'500'}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">{{stream.title}}</h3>

    <hr/>

    <p class="card-text mb-3">
      <span class="fw-bold">Streamer:</span>
      <span class="align-right">{{stream.user_name}}</span>
    </p>

    <div *ngIf="stream.language == 'en'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <p class="card-text">
        <span class="fw-bold">Langue:</span>
        <span class="align-right">
            <flag-icon country="gb"></flag-icon>
          ({{stream.language}})
          </span>
      </p>
    </ng-template>

    <ng-template #elseBlock>
      <p class="card-text">
        <span class="fw-bold">Langue: </span>
        <span class="align-right">
            <flag-icon country="{{stream.language}}"></flag-icon>
          ({{stream.language}})
          </span>
      </p>
    </ng-template>


    <p class="card-text">
      <span class="fw-bold">Nombre de viewers: </span>
      <span class="align-right">{{stream.viewer_count | number : undefined : 'fr-FR'}}</span>
    </p>

    <p class="card-text">
      <span class="fw-bold">Démarré le : </span>
      <span class="align-right">
        {{stream.started_at | date : 'longDate' : undefined: 'fr'}}
      </span> <br>
      <span class="align-right">
        à {{stream.started_at | date : 'mediumTime' : undefined : 'fr'}}
      </span>
      <br>
    </p>
  </div>
</div>
