.card-title{
  font-weight: bold;
  margin-bottom: 1rem;
}

.align-right{
  position: absolute;
  right: 1.5rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}


