<div class="card mt-4" style="width: 18rem;" [routerLink]="['/games', game.id, 'streams']">
  <img src="{{game.box_art_url | replaceUrl: '250':'350'}}" class="card-img-top" alt="stream-img"/>
  <div class="card-body">
    <p class="card-text">{{game.name}}</p>
  </div>
</div>
