<h1 class="text-center"> Bienvenue sur l'application Twitchy! </h1>
<p class="text-center">Sur cette application vous pourrez voir vos streams préférés! Regarder des streams, cherchez vos jeux et discutez avec les streamers du monde entier!</p>
<div class="d-flex justify-content-around">
  <div class="card mt-4" style="width: 18rem;" routerLink="/games/search">
    <img [src]="searchImg" class="card-img-top" alt="Catégories et Jeux"/>
    <div class="card-body">
      <p class="card-text">Recherchez vos jeux</p>
    </div>
  </div>
  <div class="card mt-4" style="width: 18rem;" routerLink="/games/top">
    <img [src]="topImg" class="card-img-top" alt="Top Games"/>
    <div class="card-body">
      <p class="card-text">Voir les top Jeux streamé</p>
    </div>
  </div>
</div>
