<h2 class="text-center mt-4 mb-4">Top des jeux actuels sur Twitch</h2>

<div class="text-center">
  <a routerLink="/">
    <button class="col-2 btn btn-info p-2 m-2">Retour</button>
  </a>
  <a routerLink="/games/top">
    <button class="col-2 btn btn-danger p-2 m-2">Actualiser</button>
  </a>
</div>


<div *ngIf="topGames$ | withLoading | async as obs">
  <ng-template [ngIf]="obs.value">
    <div class="container d-flex flex-wrap justify-content-around">
      <twi-game *ngFor="let game of topGames$ | async" [game]="game"></twi-game>
    </div>
  </ng-template>

  <ng-template [ngIf]="obs.loading">
    <twi-loading-icon class="mt-5"></twi-loading-icon>
  </ng-template>
</div>

<div class="text-center mt-5 mb-5">
  <a routerLink="/">
    <button class="col-2 btn btn-info p-2 m-2">Retour</button>
  </a>
  <a routerLink="/games/top">
    <button class="col-2 btn btn-danger p-2 m-2">Actualiser</button>
  </a>
</div>



